.bodyText{
  font-family: 'Montserrat';
  color: rgb(106, 131, 127);
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
}

.places, h1{
  font-family: 'Montserrat';
}

.info{
  display: flex;
}

.description{
width: 75%;
font-weight: lighter;
}

.objectImage{
  width: 150px;
}

#objectImage {
  max-width: 150px;
}

.nameLine{
  display: flex;
  /* border: 1px rgb(0, 0, 0) solid; */
  justify-content:space-between;
}

 .deleteLink{
  margin-top: 21px;
  margin-right: 65px;
 }