.bodyText{
  color: rgb(13,177,153);
  font-family: 'Pacifico';
  font-weight: lighter;
}


.info{
  display: flex;
  font-family: 'Pacifico';
}

.description{
/* border: 1px rgb(55, 187, 38) solid;  */
width: 75%;
/* float: left; */
/* margin-left: 25px; */
font-weight: lighter;
/* box-shadow: 5px 5px 20px 5px rgba(230, 203, 248, 0.2), 0 5px 5px 0 rgba(1, 1, 1, 0.24); */
}

.image{
  
  /* border: 1px rgb(150, 28, 28) solid;  */
  width: 150px;
 
 
  /* margin-left: 10px;
  box-shadow: 5px 5px 20px 5px rgba(230, 203, 248, 0.2), 0 5px 5px 0 rgba(1, 1, 1, 0.24); */
}
#image {
  max-width: 150px;
 
}
