.mainContainer {
  height: 700px;
  width: 1000px;
  background-color: #66ffff00;
  float: left;
  margin-left: 20px;
  box-shadow: 5px 5px 20px 5px rgba(230, 203, 248, 0.2), 0 5px 5px 0 rgba(1, 1, 1, 0.24);
}

.detailContainer {
  height: 700px;
  width: 380px;
  background-color: #deff6600;
  float: left;
  margin-left: 20px;
  box-shadow: 5px 5px 20px 5px rgba(230, 203, 248, 0.2), 0 5px 5px 0 rgba(1, 1, 1, 0.24);
  overflow:auto;
}

#image {
  width: 100%;
  /* border-radius: 15px 15px 0px 0px; */
}  