.navbar {
  /* display: flex; */
  /* flex-direction: row; */
  /* border: 1px rgb(255, 38, 0) solid;  */
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; 
  /* border: 1px rgb(255, 38, 0) solid;  */
}
#nav li {
  float: left; 
}

  #nav {
    width: 100%;
    /* float: left; */
    /* margin: 0 0 3em 0; */
    padding: 0;
    list-style: none;
    background-color: #ffffff00;
    margin-left: 1.5in;
    
    /* border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;  */
  }

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  /* border: 1px rgb(255, 38, 0) solid;  */
  /* border-right: 1px solid #ccc;  */
      }